doctype html
head
  title Nice Stay booking email
body
  div(style='width: 250px; height: 50px;')
    img(src='https://d278985kbhjfo4.cloudfront.net/Nice_stay/icon/Logo.png' style='width: 100%; height:100%')
  h1 Hi, #{name}
  p(style='font-size: 36px;') 以下是您在Nice Stay預定的旅程
  br
  h2(style='display:inline-block; margin-right: 20px; ') 入住日期
  span #{checkin_date}
  br
  h2(style='display:inline-block; margin-right: 20px;') 退房日期
  span #{checkout_date}
  br
  h2(style='display:inline-block; margin-right: 20px;') 住房費
  span #{room_price}
  br
  h2(style='display:inline-block; margin-right: 20px;') 清潔費
  span #{clean_fee}
  br
  h2(style='display:inline-block; margin-right: 20px;') 稅金
  span #{tax_fee}
  br
  h2(style='display:inline-block; margin-right: 20px;') 總費用
  span #{amount_fee}